{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fridges list</h1>

    <div class="container">
        <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Index</th>
                <th scope="col">Produs</th>
                <th scope="col">Dat&#259; ad&#259;ugare</th>
                <th scope="col">Link</th>
            </tr>
            </thead>
            <tbody>
            {% for fridge in fridges %}
            <tr data-id="{{ fridge.id }}">
                <td>{{ fridge.id }}</td>
                <td>{{ fridge.itemId.name }}</td>
                <td>{{ fridge.boughtAt |date('Y-m-d') }}</td>
                <td><a href="http://www.emag.ro/asd/pd/{{ fridge.itemId.externalRef }}/" target="_blank" class="buy"><img src="{{ asset('bundles/app/img/emag_basket.png')}}" width="10%"></a></td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        </div>
    </div>
{% endblock %}
