<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}SnuFF!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/app/css/menu.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/app/css/global.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" id="sb-font-awesome-css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
              type="text/css" media="all">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
    <body>
        <div id="page" class="hfeed site">
            <header id="sidemenu" class="site-header" role="navigation">

                <div class="first-level">
                    <div class="top-nav">
                        <a class="logo" href="#"><img src="https://momofuku.com/wp-content/themes/momofuku/img/momo-group.svg" alt="Logo"/></a>
                    </div>

                    <div id="nav">
                        <div class="middle-section">
                            <ul id="menu" class="menu">
                                <li id="menu-item-2396"
                                    class="square resto menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2396">
                                    <a href="{{ path('fridgeinventory_index') }}"><span>Fidge</span>
                                    </a>
                                </li>
                                <li id="menu-item-29"
                                    class="square navigation menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-29">
                                    <a href="{{ path('fridgeinventory_index') }}"><span>Recipes</span>
                                    </a>
                                </li>
                                <li id="menu-item-16" class="square ventures menu-item menu-item-type-post_type menu-item-object-page menu-item-16">
                                    <a href="{{ path('fridgeinventory_index') }}"><span>Shop</span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </header>
            <!-- #main -->
            <div id="main" class="site-main">
                <!-- #primary -->
                <div id="primary" class="content-area">
                    <!-- #content -->
                    <div id="content" class="site-content" role="main">
                        {% block body %}{% endblock %}
                    </div><!-- #content -->
                </div><!-- #primary -->
            </div><!-- #main -->
            <footer>

            </footer><!-- #co
            {% block javascripts %}{% endblock %}
        </div>
</body>
</html>
