{% extends 'base.html.twig' %}

{% block body %}
    <h1>Foodwastehistory</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ foodWasteHistory.id }}</td>
            </tr>
            <tr>
                <th>Clientid</th>
                <td>{{ foodWasteHistory.clientId }}</td>
            </tr>
            <tr>
                <th>Wastedat</th>
                <td>{% if foodWasteHistory.wastedAt %}{{ foodWasteHistory.wastedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ foodWasteHistory.quantity }}</td>
            </tr>
            <tr>
                <th>Wastedmoney</th>
                <td>{{ foodWasteHistory.wastedMoney }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('foodwastehistory_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('foodwastehistory_edit', { 'id': foodWasteHistory.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
